
  <h1 class="float-left">Client List</h1>

  <%= link_to "Add New Client", new_customer_path, class: "float-right btn btn-lg btn-primary add-customer-btn" %>



<table class="customers--table">
  <tr>
    <th>Full Name</th>
    <th>Gallery Web Address</th>
    <th>Allow web address to be viewed?</th>
  </tr>
  <% @customers.each do |customer| %>
    <tr>
      <td>
        <%= link_to customer.full_name, customer_path(customer) %>
      </td>
      <td><%= customer.gallery_web_address %></td>
      <td><%= customer.web_page_viewable? %></td>
    </tr>
  <% end %>
</table>
