$turquoise: #1abd9d;
$clouds: #ecf0f1;

$primaryColor: $turquoise;
$secondaryColor: $clouds;

.margin-top-100 {
  margin-top: 100px;
}

.width-100 {
  width: 100%;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}
