.customers--table {
  width: 100%;
  border-top: 1px solid #ECF0F1;
}

.customers--table th,
.customers--table td {
  padding: 10px;
  border-bottom: 1px solid #ECF0F1;
  text-align: center;
}


.add-customer-btn {
  vertical-align: center;
  margin-top: 45px;
}
